body {
    margin: 0;
    padding: 0;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: red;
}

.navLogo {
    width: 8%;
}